{% extends "base.html" %}
{% block content %}

<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-sm-6 shadow rounded-circle pt-2"><img src="/static/avatar.png" class="float-start img-fluid" alt="..."></div>
        <div class="col-sm-6">
            <ul class="list-group rounded-3 shadow list-group-flush mt-4">
                <li class="list-group-item"><h1>Skills</h1></li>
                <li class="list-group-item">Python ⭐⭐</li>
                <li class="list-group-item">Flask ( HTML, CSS, Bootstrap ) ⭐⭐</li>
                <li class="list-group-item">SQL ( PostgreSQL, SQLite, SQLAlchemy ) ⭐⭐</li>
                <li class="list-group-item">APIs ( Requests, REST ) ⭐</li>
                <li class="list-group-item">Web scraping ( BeautifulSoup, Selenium ) ⭐</li>
                <li class="list-group-item">Testing ( Selenium ) ⭐</li>
                <li class="list-group-item">Data  ( Pandas, NumPy, Matplotlib ) ⭐</li>
            </ul>
                <hr class="border border-2 opacity-100">
            <div class="row mt-4 mx-auto">
                I work as smartphone reseller and repairer in day shift,
                I am developer in night shifts.
                As You can see I try everything related to python, of course where it's strength is at it's highest so it's Data Management and Web Developing.
                At first when I started programming Python wasn't my first choice because I thought learning from bottom up would be better choice, but
                oh boy i would be still learning assembly. Then I tried the opposite - from up to bottom and I just stay here.
                Thinking about getting to work as developer commercially really excites me, that is why I eat knowledge.

            </div>
        </div>
    </div>
</div>


{% endblock %}